body
{
    background-color: orange;
}

header
{
    text-shadow: 1px 1px 2px white, 2px 2px 3px navy, 0 0 5px white;
    font-size: 2em;
    text-decoration: bold;
}

h1
{
    text-shadow: 1px 1px 2px white, 0 0 3px aquamarine, 0 0 5px white;
    text-align: center;
}

h2
{
    text-shadow: 1px 1px 2px white, 0 0 3px aquamarine, 0 0 5px white;
    text-align: center;
}

p
{
    text-align: center;
}

nav ul li a
{
    text-decoration: none;
}